body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.leftside {
    margin-top: 0;
    margin-left: 0;
    width: 150px;
    height: 100%;
    background: rgb(77, 77, 78);
    position: fixed;
    color: white;
    z-index: 1000;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.sidebar-logo {
    display: flex;
    margin: 0;
    text-align: center;
}

.sidebar-logo a {
    display: inline;
}

.sidebar-logo a i {
    height: 35px;
    width:40px;
    padding-left: 10px;
    padding-top: 10px;
}

.sidebar-logo a h1{
    margin: 15px 0 10px 10px;
    font-size: 25px;
}

.sidebar-bdd {
    border-top: 1px solid white;
}

li {
    margin: 15px 0 20px 0;
}

.sidebar-menu{
    padding-left: 20px;
    font-size: 13px;
}

.head {
    position: relative;
    width: 100%;
    left: 150px;
    height: 59px;
    background-color: rgb(238, 236, 236);
    
}

.head-nav{
    padding-top: 10px;
}

.head-search {
    height: 40px;
    width: 500px;
    border: 1px solid #717172;
    background: #ffffff;
    text-align: center;
    margin-left: 25%;
    position: flex;
}

input {
    font-size: 16px;
    width: 425px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

input:-ms-input-placeholder {
    color: #a8a8a8;
}

input::-webkit-input-placeholder {
    color: #a8a8a8;
}

input:-moz-placeholder {
    color: #a8a8a8;
}

button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #717172;
    outline: none;
    float: right;
    color: #ffffff
}

.content {
    position: relative;
    left: 150px;
    height: 80%;
    border: 1px solid gold;
    margin: 0px auto;
    padding-right:5%;
}

.content-head h3{
    border: 1px solid gold;
}

.content-record{
    border: 1px solid gold;
    display:block;
    height: 264px;
    margin: 0px auto;
}

.bottom {
    position: relative;
    width: 100%;
    left: 150px;
    height: auto;
    border: 1px solid gold;
    text-align: center;
    color: #717172;
}