body{
    overflow-x: hidden;
}

nav{
    width: 15%;
    float: left;
    border : solid 1px black;
    height: 100%;
    position: fixed;
    margin: 0 auto;
}

header{
    position: fixed;
    margin-left: 15%;
    border:solid 1px gold;
    width: 85%;
    height: 50px;
    z-index: 1000;
    
}

.searchbar{
    position: absolute;
    left:28%;
    top :25%;
}

.userInfo{
    position: absolute;
    right:3%;
    top :25%;
}

section{
    position: relative;
    margin-left: 15%;
    height: auto;
    top:70px;
    border:solid 1px red;
    width: 85%;
}

.searchbar{
    margin: 0 auto;
}

input{
    width: 300px;
}

.content{
    position: absolute;
    margin-left: 10%;
    border:solid 1px blue;
    width: 500px;
}


