*{
    margin:0;
    padding:0;
}

body{
    /*background-image: url(../images/couple.jpg);*/
    background-size: cover;
    font-family: sans-serif;
    /* background-position: center; */
}

.form-box{
    width: 500px;
    background:rgba(0,0,0,0.6);
    margin: 12% auto;
    padding:50px 0;
    color:#fff;
    box-shadow: 0 0 20px 2px rgba(94, 87, 87, 0.5);
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.fa{
    margin-right: 10px;
}

.input-box, .input-box2{
    margin:31px auto;
    width: 80%;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border : none;
    outline: none;
    background : transparent;
    color :#fff;
}

.input-box2 input{
    width: 78%;
    border : none;
    outline: none;
    background : transparent;
    color :#fff;
    
}

.btn_duplicate-inspection{
    border : none;
    cursor : pointer;
    background: transparent;
    color : #fff;
}

::placeholder{
    color:#ccc;
}

.eye{
    position:absolute;
}

#hide1{
    display: none;
}

.login-btn{
    margin : 40px auto 20px;
    width: 80%;
    display : block;
    outline : none;
    padding : 10px;
    border : 1px solid #fff;
    cursor : pointer;
    background: transparent;
    color : #fff;
    font-size :16px;
}

/* .login-btn:hover,.login-btn:active,.login-btn:focus {
    //mousehover event
} */

.message{
    text-align: center;
    font-size: 13px;
}

.message a{
    text-decoration: none;
    color :rgba(255, 255, 255, 0.329);
}
